.cbutton {
  padding: 3px;
  margin: 6px;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
  background: rgb(105, 207, 255);
  cursor: pointer;
}

.cbutton:hover:enabled {
  background: rgb(141,217,252);
  transform: scale(1.2);
  transition-duration: 0.2s;
}

.cbutton:hover:active {
  transform: scale(0.8);
  transition-duration: 0.2s;
}

.cbutton:disabled {
  background: rgb(32, 63, 78);
  color: #5d5d5d;
}