.checkbox {
  appearance: none; /* disable default appearance */
  background: #fafafa00;
  border: 1px solid rgb(141,217,252);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.checkbox:hover {
  background: #fafafa30;
}

/* hook shadow */
.checkbox:active, .checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkbox:checked {
  background-color: #e9ecee00;
	border: 1px solid rgb(141,217,252);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

/* the hook */
.checkbox:checked:after {
  content: '\221A';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #ffffff;
}