.dropdown-button {
  background: rgb(31, 148, 207);
  border-radius: 10px;
  border: none;
  color: #fafafa;
  padding: 2px;
  font-size: 18px;
  cursor: pointer;
}

.dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown * {
  width: 100%;
}

.dropdown-content {
  display: block;
  position: absolute;
  z-index: 10;
}
.dropdown-content button {
  display: block;
  padding: 3px;
  margin-top: 5px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: rgb(79, 121, 146);
  color: #fafafa;
  cursor: pointer;
}

.dropdown-content button:hover {
  background: rgb(97, 149, 179);
}
.dropdown:hover .dropdown-button {
  background: rgb(31, 148, 207);
}