.text {
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  height: 28px;
  background: #00000000;
  transition-duration: 0.3s;
  color: #ffffff;
}

.edit {
  background: #00000020;
}

.text:hover {
  background: #00000040;
  transition-duration: 0.3s;
}

.text:focus {
  background: #00000040;
}