/* z-index to cover logo */
.menu {
  z-index: 2;
  width: 240px;
  position: fixed;
  top: 0;
  background: #32343a;
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin: 5px;
  transition-duration: .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.menu .dropdown {
  margin-bottom: 10px;
}

.menu .dropdown:hover {
  transform: scale(1.05);
  transition-duration: .3s;
}

.menu:hover {
  background: #3a3f4e;
  transition-duration: .5s;
}

.group-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
}

.transparentButton {
  background: #ffffff00;
  color: white;
  border: none;
  border-radius: 5px;
}

.transparentButton:hover:enabled {
  background: #51586d;
  transform: scale(1.05);
  transition-duration: 0.2s;
}

.transparentButton:hover:active {
  background: #21232c;
  transform: scale(0.97);
  transition-duration: 0.2s;
}