.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.black {
  z-index: 9;
  background-color: rgba(0, 0, 0, .3)
}

.transparent {
  background-color: rgba(0, 0, 0, 0)
}

.popup-root {
  z-index: 10;
  max-width: 75%;
  position: absolute;
}

.popup-container {
  text-align: center;
  background: #555862;
  border-radius: 5px;
  padding-bottom: 3px;
}

.popup-title {
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #570190;
}

.popup-content {
  max-width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #2d323370;
  padding-left: 10px;
  padding-right: 10px;
}