.line-container {
  max-width: 500px;
  padding: 2px;
  transition-duration: 0.1s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 2rem;
  flex-wrap: wrap;
}

.line-container .checkbox {
  align-self: center;
  flex-grow: 0;
}
.line-container .cbutton {
  flex-grow: 0;
}

.line-container:hover {
  background: #3a3f4e;
  border-radius: 10px;
  border: none;
  transition-duration: 0.1s;
}

/* 
  display make element be a one line block
  use overflow to hide inside element

  float makes inside element touchable
 */
.line-content-outside {
  margin-left: 5px;
  width: calc(50vw - 20px);
  max-width: 300px;
  display: inline-block;
  overflow: hidden;
}

.line-content {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.marquee {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .marquee:hover {
    animation: content-marquee infinite 10s linear;
  }
}

@keyframes content-marquee {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-90%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}