.App {
  text-align: center;
}

.App * {
  outline: none;
}

.App-logo {
  height: 25vh;
  pointer-events: none;
  user-select: none;
}

#title {
  color: white;
  text-shadow: none;
  user-select: none;
  transition: color .3s;
  transition: text-shadow .6s;
}

.alert-success {
  text-shadow: 0.2em 0.5em 0.1em rgb(0, 102, 102),
  -0.3em 0.1em 0.1em rgb(87, 102, 0),
  0.4em -0.3em 0.1em rgb(102, 0, 63);
  color: rgb(0, 255, 0);
  transition: color .3s ease-in;
  transition: text-shadow .6s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#addline {
  padding-bottom: 10px;
}

.add-container {
  background: #3a3f4e;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 5px;
  background-clip: padding-box;
  border: 0 solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 3px;
}

.todo-container {
  background: #32343a;
  padding: 5px;
  max-height: 35vh;
  border: none;
  border-radius: 10px;
  overflow-y: auto;
  color: rgba(0, 0, 0, .0);
  text-shadow: 0 0 white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0);
  transition: color .3s ease;
}

.todo-container:hover {
  color: rgba(255, 255, 255, 0.418);
}